<!DOCTYPE html>
<html>
  <head>
  <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> 
  </head>
  <body>
    <!-- <h1>email : <%= user.email %></h1> -->
    <h1>social_id : <%= user.social_id %></h1>
    <h1>name : <%= user.username %></h1>
    <h1>provider : <%= user.provider %></h1>
    <p> token : <%= token %></p>
    <% for (var i=0; i< images.length; i++) { %>
      <!-- <h1><%= images[i].Ticket_ID %></h1> -->
      <img data-toggle="modal" href="#myModal" class="captureImage" height="10%" width="10%" src= /captureImages/<%= images[i].ticket_id %>.jpg></img>
    <% } %>

    <form action="/logout" method="GET">
      <input type="submit" value="로그아웃">
    </form>

    <input type='text' id='url' placeholder="input the url"><br/>
    <input type='button' id='capture' value='capture'>
    
	<div class="modal" id="myModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h4 class="modal-title">Image</h4>
				</div>
				<div class="modal-body">
					<img id="dialogImage"></img>
					<h5 id="ticket_id"></h5>
				</div>
				<div class="modal-footer">
					<a data-dismiss="modal" class="btn"> close</a>
					<a class="delete btn btn-primary"> delete</a>
				</div>
			</div>
		</div>
	</div>


    <script>
      $('#capture').click(function(){
        var url = $('#url').val()
        console.log('input url ' + url)

        $.ajax({
          type: "POST",
          url: "/capture/putCaptureWork",
          contentType : "application/json",
          data: JSON.stringify({"URL" : url, "Issue_time" : new Date().getTime()}),
          success:function(args){
            console.log(args)
          },
          error:function(e){
            console.log(e)
          },
        })
      })
	
	var ticket_ID = null
	var modal = document.getElementById("sweet-modal");
	$('.captureImage').each(function(index) {
		$(this).click(function() {
			$('#dialogImage').attr('src', $(this).attr('src'));
			//modal.showModal();
			ticket_ID = $(this).attr('src').split(".");
			$('#ticket_id').html("ticketID : "+ticket_ID[0].split("/")[2]);
		})
	})

	$('.delete').click(function() {
		$.ajax({
			type: "POST",
			url : "/capture/deleteImage",
			contentType: "application/json",
			data: JSON.stringify({"ticket_ID": ticket_ID[0]}),
			success: function(args) {
				console.log(args)
			},
			error: function(e) {
				alert(e+"\n failed delete")
				console.log(e)
			}
				
		})
		window.location.reload();
	})
    </script>
  </body>
  <style>
  </style>
</html>
