<!DOCTYPE html>
<html>
  <head>
  <link rel='stylesheet' href='/stylesheets/style.css' /> 
    <script src="//code.jquery.com/jquery-3.2.1.min.js"></script>
  </head>
  <body>
    <!-- <h1>email : <%= user.email %></h1> -->
    <h1>social_id : <%= user.social_id %></h1>
    <h1>name : <%= user.username %></h1>
    <h1>provider : <%= user.provider %></h1>
    <p> token : <%= token %></p>
    <% for (var i=0; i< images.length; i++) { %>
      <!-- <h1><%= images[i].Ticket_ID %></h1> -->
      <img height="10%" width="10%" src= /captureImages/<%= images[i].ticket_id %>.jpg></img>
    <% } %>

    <form action="/logout" method="GET">
      <input type="submit" value="로그아웃">
    </form>

    <input type='text' id='url' placeholder="input the url"><br/>
    <input type='button' id='capture' value='capture'>
    
    <script>
      $('#capture').click(function(){
        var url = $('#url').val()
        console.log('input url ' + url)

        $.ajax({
          type: "POST",
          url: "/capture/putCaptureWork",
          contentType : "application/json",
          data: JSON.stringify({"URL" : url, "Issue_time" : new Date().getTime()}),
          success:function(args){
            console.log(args)
          },
          error:function(e){
            console.log(e)
          },
        })
      })
    </script>
  </body>
</html>
